<div class="container p-4">
  <h1 class="m-2"> All the Restaurants </h1>
  <h3 class="btn btn-outline-primary">  <%= link_to "Add a Restaurant", new_restaurant_path %> </h3>
  <div class="d-flex flex-wrap">
  <% @restaurants.each do |restaurant| %>
  <div class="w-25 d-flex justify-content-around align-items-center card p-3 my-2">
    <p class="center"> <%= link_to restaurant.name, restaurant_path(restaurant) %></p>
    <p class="btn btn-outline-primary"> <%= link_to 'edit', edit_restaurant_path(restaurant) %> </p>
  </div>
  <% end %>
  </div>
</div>
